@model HomeIndexViewModel
@{

}

<section class="sec_nav">
    <a asp-action="Offer">Oferta książek</a>
    <img src="" alt="logo"/>




    <form asp-action="Search" asp-asp-controller="Offer" method="post">
        <input type="text" name="search" placeholder="Wyszukaj książkę">
        <button type="submit">Szukaj</button>
    </form>



</section>

<section class="slider">
    <div class="slide_item">
        <img src="" alt="item" />     
    </div>
</section>

<section >
  
    <h2>Polecane książki:</h2>
    <div>
        <ul>
                @if(Model.RecommendedBooks!=null){
                    @foreach (var book in Model.RecommendedBooks)
                    {
                        <li>
                            <div class="BookBox">
                                <h3>@book.Title</h3>

                                <p><img src="~/lib/image/@book.ImageUrl"/></p>

                                <p>@book.Author</p>
                                <p>@book.Description</p>
                                <p>@book.Publisher  -  @book.Year</p>
                            </div>
                        </li>
                    }
                }
        
        </ul>
    </div>
</section>

<section>
    
        <h2>Najnowsze książki:</h2>
    <div>
        <ul>
            @if(Model.LatestBooks!=null){
                @foreach (var book in Model.LatestBooks)
                {
                    <li>
                        <div class="BookBox">
                            <h3>@book.Title</h3>

                            <p><img src="~/lib/image/@book.ImageUrl" /></p>

                            <p>@book.Author</p>
                            <p>@book.Description</p>
                            <p>@book.Publisher  -  @book.Year</p>
                        </div>
                    </li>
                }
            }
          
        </ul>
    </div>
</section>