@*
*@
@{
}
<table>
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Dostępne egzemplarze</th>
        </tr>
    </thead>

    <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@(book.AvailableCopies > 0 ? book.AvailableCopies.ToString() : "Brak")</td>
                </tr>
            }
    </tbody>
</table>

@foreach (var book in Model.Books)
{
        <div>
            <h2>@book.Title</h2>
            <p>@book.Author (@book.Year)</p>
            <p>@book.Description</p>
            <p>Dostępne egzemplarze: @(book.AvailableCopies > 0 ? book.AvailableCopies.ToString() : "Brak")</p>
            <a asp-action="Details" asp-route-id="@book.Id">Szczegóły</a>
        </div>
}