@model Book

@{
}

<h1><i>@Model.Title</i></h1>
<div>
    <img src="~/images/@Model.Image" alt="Book image" />
</div>

<div>
    <h2>Autor: <i>@Model.Author</i></h2>
    <h3>Wydawca: <i>@Model.Publisher --  @Model.Year</i></h3>
    <h4>Gatunek: <i>@Model.Genre</i></h4>
</div>
<div>
    <p><b>Opis:</b><br />@Model.Description</p>
</div>

<div>
    <span><b>Ilość książek:</b> @Model.TotalCopies</span>
    <span><b>Dostępna ilość:</b> @Model.AvailableCopies</span>
   
    
    @if(Model.AvailableCopies > 0)
    {
        <input type="button"
           value="Wypożycz"
           onclick="location.href='@Url.Action("Rent", "Offer", new {id = Model.Id})'" />
    }else{
        <input type="button"
           value="Zarezeruj"
           onclick="location.href='@Url.Action("Reserve", "Offer", new {id = @Model.Id})'" />
    }
    
</div>

