@model OfferViewModel


@{
}


@using (Html.BeginForm("Search", "Offer", FormMethod.Post))
{
    @Html.TextBoxFor(x=>x.SearchQuery, new {placeholder = "Wyszukaj książki"})

     @Html.DropDownListFor(x => x.Genres, Html.GetEnumSelectList<Genres>(), "Wybierz gatunek")


         <button type="submit">Szukaj</button>
}

<table>
    <thead>
        <tr>
            <td>Tytuł</td>
            <td>Autor</td>
            <td>Wydawca</td>
            <td>Opis</td>
        </tr>
    </thead>
    <tbody>
        @if(Model.Books != null){
            @foreach (var book in Model.Books)
            {
      
                    <tr>
                        <td><a class="text-dark" asp-area="" asp-controller="Offer" asp-action="Details" asp-route-id="@book.Id"><img src="~/images/@book.Image" alt="Book image" /></a></td>
                        <td><a class="text-dark" asp-area="" asp-controller="Offer" asp-action="Details" asp-route-id="@book.Id">@book.Title</a></td>
                        <td>@book.Author</td>
                        <td>@book.Publisher</td>
                        <td>@book.Description</td>
                    </tr>
                
            }
        }
       
    </tbody>
</table>