@model List<Reserve>

@{
}
<section>
    <h1>Rezerwacje</h1>

    <h2>Liczba zarezerwowanych książek: @Model.Count</h2>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Tytuł</td>
                <td>Autor</td>
                <td>Gatunek</td>
                <td>Wydawca</td>
                <td>Data rezerwacji</td>
            </tr>
        </thead>
        <tbody>
            @if (Model!= null)
            {
                @foreach (var reserve in Model)
                {
                    <a class="text-dark" asp-area="" asp-controller="Offer" asp-action="Details" asp-route-id="@reserve.BookId">
                        <tr>
                            <td><img src="~/images/@reserve.Book.Image" alt="Book image" /></td>
                            <td>@reserve.Book.Title</td>
                            <td>@reserve.Book.Author</td>
                            <td>@reserve.Book.Genre</td>
                            <td>@reserve.Book.Publisher</td>
                            <td>@reserve.ReserveDate</td>
                            <td><a asp-area="" asp-controller="Offer" asp-action="DeleteUserReserve" asp-route-id="@reserve.Id" onclick="return confirm('Czy na pewno chcesz usunąć rezerwację?')">Usuń rezerwację</a></td>
                        </tr>
                    </a>
                }
            }
        </tbody>
    </table>
</section>