@model BorrowBookModel
@{
}


<h1>Wypożycz książkę</h1>

<p><img src="~/lib/images/@Model.Rental.Book.ImageUrl" alt="Book image"/> </p>
<p> @Model.Rental.Book.Title</p>
<p> @Model.Rental.Book.Author</p>
<p> @Model.Rental.Book.Publisher  --  @Model.Rental.Book.Year</p>
<p> @Model.Rental.Book.Genre</p>


@using (Html.BeginForm("BorrowBook", "Admin", FormMethod.Post))
{

   @Html.HiddenFor(x=>x.Rental)

   <input type="date" name="date" id="date"/>


    <button type="submit">Zatwierdź</button>
}
 