@model RegisterModel

@{
    Layout = "_LayoutAdmin";


    var isRegistered = ViewData["isRegistered"];
    var isPasswordLenght = ViewData["isPasswordLenght"];
}

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary()
    ;

    <span>Login: </span> @Html.TextBoxFor(x => x.UserName)
    <br />
    <span>Hasło: </span> @Html.PasswordFor(x => x.Password)
    <img id="img" class="icon icon_pointer" src="~/icons/unvisible.png" alt="toggle visible" onclick="togglePassword()" />
    <br />
    <span>Imię: </span> @Html.TextBoxFor(x => x.FirstName)
    <br />

    <span>Nazwisko: </span> @Html.TextBoxFor(x => x.LastName)
    <br />
    <span>Email: </span> @Html.TextBoxFor(x => x.Email)
    <br />

    <span>Data urodzenia: </span>
    <input asp-for="@Model.DateOfBirth" type="date" asp-format="{0:yyyy-MM-dd}" />
    <br />

    <input type="submit" value="Zarejestruj" />
}
@if (isRegistered.Equals(true))
{
    <p class="adultInfo">Użytkownik, o tym loginie juz istnieje!</p>
}
@if (isPasswordLenght.Equals(false))
{
    <p class="adultInfo">Hasło musi zawierać conajmniej 5 znaków!</p>
}
