@model UserModel
@{
    Layout = "_LayoutAdmin";
}
<h1>Zwróć książkę</h1>



    <input type="hidden" name="rentalId" value="@Model.Rentals">
    
<table>
    <thead>
       
        <tr>
            
            <td>Tytuł</td>
            <td>Autor</td>
            <td>Wydawca</td>
            <td>Rok</td>
            <td>Data Wypożyczenia</td>
            <td>Termin zwrotu</td>

        </tr>
    </thead>
    <tbody>
         @foreach (var rental in Model.Rentals)
         {
             <tr>
                <td> <img src="~/images/@rental.Book.Image" alt="Book image" /></td>
                <td>@rental.Book.Title</td>
                <td>@rental.Book.Author</td>
                <td>@rental.Book.Publisher</td>
                <td>@rental.Book.Year</td>
                <td>@rental.RentalDate</td>
                <td>@rental.DueDate</td>
                <td><input type="button" onclick="returnBook(@rental.Id)" value="Zwróć" /></td>  
                <td><input type="button" onclick="remind(@rental.Id)" value="Przypomnij" /></td>


             </tr>
        



         }
    </tbody>
   

</table>
