@model List<Rental>
@{
}
<h1>Lista książek z opóźnieniem w zwrocie</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Wypożyczający</th>
                    <th>Data wypożyczenia</th>
                    <th>Data zwrotu</th>
                    <th>Opóźnienie (dni)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var overdue in Model)
                {
                    <tr>
                        <td>@overdue.Book.Title</td>
                        <td>@overdue.User.FirstName @overdue.User.LastName</td>
                        <td>@overdue.RentalDate.ToString()</td>
                        <td>@overdue.ReturnDate.Value.ToString()</td>
                        <td>@DateTime.Now-@overdue.DueDate.ToString()</td>
                        <td><a asp-area="" asp-action="Remind" asp-controller="Offer" asp-route-rentalId="@overdue.Id">Przypomnij</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
