@model List<Rental>
@{
}
<h1>Lista wypożyczonych książek</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Wypożyczający</th>
                    <th>Data wypożyczenia</th>
                    <th>Data zwrotu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rental in Model)
                {
                    <tr>
                        <td>@rental.Book.Title</td>
                        <td>@rental.User.FirstName @rental.User.LastName</td>
                        <td>@rental.RentalDate.ToString()</td>
                        <td>@(rental.ReturnDate.HasValue ? rental.ReturnDate.Value.ToString() : "Nie zwrócona")</td>
                        <td><a asp-area="" asp-action="Remind" asp-controller="Offer" asp-route-rentalId="@rental.Id">Przypomnij</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>