@model List<Reserve>
@{
    Layout = "_LayoutAdmin";
}
<h1>Lista zarezerwowanych książek</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Rezerwujący</th>
                    <th>Data rezerwacji</th>
                    <th>Data odbioru</th>
                    <th>Akcje</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model)
                {
                    <tr>
                        <td>@reservation.Book.Title</td>
                        <td>@reservation.User.FirstName @reservation.User.LastName</td>
                        <td>@reservation.ReserveDate.ToString()</td>
                        <td><a asp-action="DeleteReserv" asp-route-id="@reservation.Id" onclick="return confirm('Czy na pewno chcesz usunąć rezerwację?')">Usuń</a></td>
                       @* <td>@(reservation.dat.HasValue ? reservation.PickupDate.Value.DateString() : "Nie odebrano")</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>