@model AdminViewCurrentRentals

@{
    Layout = "_LayoutAdmin";
}


<section class="sec_search">

    @using (Html.BeginForm("ViewOverdueBooks", "Admin", FormMethod.Get))
    {
        @Html.TextBoxFor(x=>x.SearchQuery, new {placeholder = "Znajdź uzytkownika"})

        <button type="submit">Szukaj</button>
    }


</section>

<div class="card mt-3">
    <div class="card-header">Wypożyczenia: @Model.Rentals.Count</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Książka</th>
                    <th>Użytkownik</th>
                    <th>Data wypożyczenia</th>
                    <th>Data zwrotu</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Rentals != null)
                {
                      @foreach (var rental in Model.Rentals)
                      {
                            <tr>
                                <td>@rental.Book.Title</td>
                                <td>@rental.User.FullName</td>
                                <td>@rental.RentalDate</td>
                                <td>@rental.DueDate.ToShortDateString()</td>
                                <td><input type="button" onclick="remind(@rental.Id)" value="Przypomnij" /></td>


                            </tr>
                      }
                }
              
            </tbody>
        </table>
    </div>

</div>
