@model AdminViewOverdueBooks
@{
    Layout = "_LayoutAdmin";
}
<h1>Lista książek z opóźnieniem w zwrocie</h1>

<section class="sec_search">

    @using (Html.BeginForm("ViewOverdueBooks", "Admin", FormMethod.Post))
    {
        @Html.TextBoxFor(x=>x.SearchQuery, new {placeholder = "Znajdź uzytkownika"})

        <button type="submit">Szukaj</button>
    }


</section>

<div class="card">
    <div class="card-header">Zaległych: @Model.Rentals.Count</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Wypożyczający</th>
                    <th>Data wypożyczenia</th>
                    
                    <th>Opóźnienie (dni)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var overdue in Model.Rentals)
                {
                    
                       var overTime =  Math.Round((DateTime.Now - @overdue.DueDate).TotalDays);
                    
                    <tr>
                        <td>@overdue.Book.Title</td>
                        <td>@overdue.User.FullName</td>
                        <td>@overdue.RentalDate.ToString()</td>
                        
                        <td>@overTime</td>
                        <td><input type="button" onclick="remind(@overdue.Id)" value="Przypomnij" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
